Importing Libraries

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sb 
import random as rn

Importing daataset

In [2]:
data = pd.read_csv('IMDB.csv')

Implementing columns adn row transformtion and tunning the dataset for model

In [3]:
data.describe()

,Sr,index,isAdult,startYear,averageRating,numVotes,ordering,isOriginalTitle
count,7850.00000,7850.000000,7850.0,7850.000000,7850.000000,7.850000e+03,7850.000000,7850.0
mean,3924.50000,5286.804076,0.0,2013.204331,7.367605,7.527845e+04,16.440382,0.0
std,2266.24414,2851.482333,0.0,6.987697,0.605137,1.779794e+05,12.871290,0.0
min,0.00000,0.000000,0.0,1990.000000,6.500000,6.000000e+00,1.000000,0.0
25%,1962.25000,2847.250000,0.0,2008.000000,6.900000,6.035000e+03,6.000000,0.0
50%,3924.50000,5284.500000,0.0,2015.000000,7.300000,1.484150e+04,13.000000,0.0
75%,5886.75000,7602.750000,0.0,2019.000000,7.800000,5.660500e+04,24.000000,0.0
max,7849.00000,10274.000000,0.0,2023.000000,9.500000,2.759621e+06,119.000000,0.0

In [4]:
data.columns

Index(['Sr', 'index', 'tconst', 'titleType', 'primaryTitle', 'originalTitle',
       'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres',
       'averageRating', 'numVotes', 'ordering', 'title', 'region', 'language',
       'types', 'attributes', 'isOriginalTitle', 'Description'],
      dtype='object')

In [5]:
data2 = data[['index' , 'originalTitle' , 'startYear' ,'genres', 'Description']]

In [6]:
data2.columns

Index(['index', 'originalTitle', 'startYear', 'genres', 'Description'], dtype='object')

In [7]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7850 entries, 0 to 7849
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          7850 non-null   int64
 1   originalTitle  7850 non-null   object
 2   startYear      7850 non-null   int64
 3   genres         7850 non-null   object
 4   Description    7662 non-null   object
dtypes: int64(2), object(3)
memory usage: 306.8+ KB

In [8]:
data2

,index,originalTitle,startYear,genres,Description
0,0,The Silence of the Lambs,1991,"Crime,Drama,Thriller","Jodie Foster stars as Clarice Starling, a top ..."
1,1,Terminator 2: Judgment Day,1991,"Action,Sci-Fi","In this sequel set eleven years after ""The Ter..."
2,3,The Lion King,1994,"Adventure,Animation,Drama",This Disney animated feature follows the adven...
3,4,Pulp Fiction,1994,"Crime,Drama",Vincent Vega (John Travolta) and Jules Winnfie...
4,5,The Shawshank Redemption,1994,Drama,Andy Dufresne (Tim Robbins) is sentenced to tw...
...,...,...,...,...,...
7845,10269,Un rubio,2019,"Drama,Romance",Two men begin a romantic relationship in Bueno...
7846,10270,Trailer Park Boys: The Animated Series,2019,"Animation,Comedy",Nova Scotia's trailer parks are colorful thank...
7847,10271,Deux,2019,"Drama,Romance","Two retired women, Nina and Madeleine, have be..."
7848,10272,Fin de siglo,2019,Drama,A 30-something Argentine poet on vacation in B...
7849,10274,Blown Away,2019,Reality-TV,A group of artisans from across North America ...

In [9]:
data2.isnull().sum()

index              0
originalTitle      0
startYear          0
genres             0
Description      188
dtype: int64

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=7850 , stop_words='english')
cv

CountVectorizer(max_features=7850, stop_words='english')

In [11]:
vector = cv.fit_transform(data2['originalTitle'].values.astype('U')).toarray()

In [12]:
vector.shape

(7850, 7850)

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
cs = cosine_similarity(vector)
cs

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [14]:
data2[data2['originalTitle']=="The Shawshank Redemption"].index[0]

4

In [15]:
dist = sorted(list(enumerate(cs[4])), reverse=True , key=lambda vector:vector[1])
for i in dist[0:5]:
    print(data2.iloc[i[0]].originalTitle)

The Shawshank Redemption
Redemption
24: Redemption
Leverage: Redemption
The Blacklist: Redemption

In [16]:
def recommend(data):
    index=data2[data2['originalTitle']==data].index[0]
    dist = sorted(list(enumerate(cs[index])),reverse=True , key = lambda vector: vector[1])
    for i in dist[0:5]:
        print(data2.iloc[i[0]].originalTitle)

In [17]:
recommend("Iron Man")

Iron Man Three
Iron Man
Iron Man 2
Man on Fire
Iron Man: Armored Adventures

Importing Our PKL(pickle) files

In [18]:
import pickle
pickle.dump(data2 , open('model.pkl','wb'))
pickle.dump(data2 , open('same.pkl','wb'))

In [19]:
pickle.load(open('model.pkl' , 'rb'))

,index,originalTitle,startYear,genres,Description
0,0,The Silence of the Lambs,1991,"Crime,Drama,Thriller","Jodie Foster stars as Clarice Starling, a top ..."
1,1,Terminator 2: Judgment Day,1991,"Action,Sci-Fi","In this sequel set eleven years after ""The Ter..."
2,3,The Lion King,1994,"Adventure,Animation,Drama",This Disney animated feature follows the adven...
3,4,Pulp Fiction,1994,"Crime,Drama",Vincent Vega (John Travolta) and Jules Winnfie...
4,5,The Shawshank Redemption,1994,Drama,Andy Dufresne (Tim Robbins) is sentenced to tw...
...,...,...,...,...,...
7845,10269,Un rubio,2019,"Drama,Romance",Two men begin a romantic relationship in Bueno...
7846,10270,Trailer Park Boys: The Animated Series,2019,"Animation,Comedy",Nova Scotia's trailer parks are colorful thank...
7847,10271,Deux,2019,"Drama,Romance","Two retired women, Nina and Madeleine, have be..."
7848,10272,Fin de siglo,2019,Drama,A 30-something Argentine poet on vacation in B...
7849,10274,Blown Away,2019,Reality-TV,A group of artisans from across North America ...